<h1><%= @user.name %>さんのタスク詳細ページ</h1>

<table class="table table-bordered">
	<tr>
		<td>id</td>
		<td><%= @task.id %></td>
	</tr>
	<tr>
		<td>状態</td>
		<td><%= @task.status %></td>
	</tr>
	<tr>
		<td>内容</td>
		<td><%= @task.content %></td>
	</tr>
</table>

<%= link_to '一覧に戻る', user_path(current_user), class:"btn btn-default" %>
<%= link_to '編集する', edit_task_path, class:"btn btn-default" %>
<%= link_to '削除する', @task, method: :delete, data: {confirm: "Are you OK?"}, class:"btn btn-danger" %>
